:root {
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0; /* Elimina márgenes externos */
    padding: 0; /* Elimina relleno */
    height: 100vh; /* Asegura que ocupe toda la altura del viewport */
    background-image: url(./imgs/fondo-navi.jpg);
     
    
    
  }
  
  /* Estilos HEADER */

  header {
    background: linear-gradient(to right, black, white);
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }
  
  h1 {
    margin: 0; /* Elimina márgenes del título */
    font-size: 1.5rem;
    text-align: left;
    padding-left: 0 ;
  }
  
  .div-usuario {
    color: black;
    margin-right: 0;
    padding-left: auto /* Mueve el usuario hacia la derecha */
  }

  .container-fluid { 
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  
  /* MAIN */

  #cuotas {
    height: 50px;
    width: 100%;
    background: linear-gradient(to right, black, red, white);
    padding-top: 10px;
    margin: 0; /* Elimina el margen extra */
  }
  
  #h3-cuotas {
    margin: 0; /* Elimina márgenes del h3 */
    padding: 0 1rem; /* Espaciado interno a la izquierda y derecha */
    font-size: 1.2em;
    font-weight: bold; /* Peso de la fuente */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: gold;
    text-align: left;
  }

  @media (max-width: 768px) {
    #h3-cuotas  {
        display: none;
        
    }}
  
  /* NAV */

  nav.navbar {
    margin: 0; /* Elimina márgenes del nav */
    padding: 0 1rem; /* Espaciado interno */
  
  }
   

  .navbar-toggler { 
                    color:#ffffff00 ;
                    border: none } /* boton responsive */

/* CARROUSEL */

img {
  height: 200px; /* Ajusta esta altura según tus necesidades */
  object-fit:contain; /* Esto asegura que la imagen se recorte adecuadamente para llenar el espacio */
  width: 100%; /* Asegura que todas las imágenes tengan el mismo ancho */
}

#img-1 {object-fit: fill;}

#img-2 {
  object-fit: cover;
  width: 100%;
}


.img-re{ width: 100%;
          object-fit:cover;}


@media (max-width: 768px) {
        img{
              height: 100px;               
            }}

/* CARDS VIA API */ 

          .card { 
                  padding-top: 20px;
                  height: 500px;
                  border: black solid 0.5px;
                  border-radius: 10px;}

          .card-title  { 
          padding: 10px; 
          
          }

          .card-text { padding-left: 10px}

          .precio {
            padding-left: 10px;
            font-size: 20px;
            color: green;
          }
          .btn-success {
                        border-radius: 0px 0px 10px 10px;
                        height: 40px;
                        width: 100%;
                        padding-left: 0px;
                      }
          
          .card-body { padding: 0px }

          /* BOTONES PAGINADO */

          .botones {  padding-top: 50px;
                      cursor: pointer;}


          #page-info{ color: white;}

       /* ESTILOS CONTACTO.HTML */

       .card-c {height: 250px;
                margin-left: 50px;
                margin-top: 50px;
                background-color: rgba(128, 128, 128, 0.729);
                color: black ;
                padding-bottom: 10px;}
                

                @media (max-width: 768px) {
                  .card-c{
                        margin-left: 0px;               
                      }}

      .card-info {
        height: 80px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.113);
      }
       
      #body-c { 
        color: white;
      }
          